<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/Header', {user: user}) %>
        <link rel="stylesheet" href="../stylesheets/chessboard-1.0.0.min.css">
        <link rel="stylesheet" href="../stylesheets/gameCreator.css"
        </head>
    <body>
        <div id = "boards">
            <div id="FENBoard" class = "board" style="width: 500px"></div>
            <div id="currentPieceBoard" class = "board" style="width: 225px"></div>
        </div>
        <div id = "pieceStats">
            <h1 id = "pieceName">wP</h1>
            <input type = "checkbox" id = "mirrorPieceSelect" checked>Mirror Changes<br> to Opponent Piece 
            <%- include('partials/GameCreatorSelectOne', {id: "attackTypes", p: "Attack Type", listName: attackTypeNames, listDescription: attackTypeDescriptions}) %>
            <%- include('partials/GameCreatorSelectMany',{id: "moveMods", p: "Movement Modifers", listName: moveModNames, listDescription: moveModDescriptions}) %>
            <%- include('partials/GameCreatorSelectMany',{id: "attributeMods", p: "Attribute Modifers", listName: attributeModNames, listDescription: attributeModDescriptions}) %>
            <br>
            <input type = "submit" id = "removeCurrentPiecePathsButton" value = "Remove All Movement">
            <br>
            <h2>Add Individual Square</h2>
            <b>Row </b>
                <input type = "number" id = "addIndividualSquareRowAmount" name = "row" size = 1 min = "0" max = "7">
                <b>Column</b>
                <input type = "number" id = "addIndividualSquareColumnAmount" name = "column" size = 1 min = "0" max = "7">
                <button id = "addIndividualSquareSubmit">Submit</button>
                <br>
            <h2>Absolute Teleport </h2>
                <b>Board Coordinate</b> <input type = "textbox" id = "absoluteTeleportAmount" name = "Teleport" size = "2'">
                <button id = "absoluteTeleportSubmit">Submit</button>
                <br>
            <h2>Relative Deny Movement </h2>
                <b>Row </b>
                <input type = "number" id = "relativeDenyMovementRowAmount" name = "row" size = 1 min = "0" max = "7">
                <b>Column</b>
                <input type = "number" id = "relativeDenyMovementColumnAmount" name = "row" size = 1 min = "0" max = "7">
                <button id = "relativeDenyMovementSubmit">Submit</button>
            <h2>Absolute Deny Movement </h2>
                <b>Board Coordinate </b> <input type = "textbox" id = "absoluteDenyMovementAmount" name = "moveDeny" size = "2">
            <button id = "absoluteDenyMovementSubmit">Submit</button>
        </div>
        <div id = "pathBoard" style="width: 225px">
        </div>

        <div id = "movement">
            <h1>Add Movement</h1>
            <h2>Move Paths</h2>
            <div id = upMovement">
                <b class = "moveAmount">Up</b>
                <input type = "number" id = "upMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                
                <input type = "submit" id = "upMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "up">
            </div>
            <br>
            <div id = "downMovement">
                <b class = "moveAmount">Down</b>
                <input type = "number" id = "downMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "downMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "down">
            </div>
            <br>
            <div id = "leftMovement">
                <b class = "moveAmount">Left</b>
                <input type = "number" id = "leftMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "leftMoveSubmit" class = "submitAmount" value = "Add Movement"  data-direction = "left">
            </div>
            <br>
            <div id = "rightMovement">
                <b class = "moveAmount">Right</b>
                <input type = "number" id = "rightMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "rightMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "right">
            </div>
            <br>
            <div id = "upLeft">
                <b class = "moveAmount">Up Left</b>
                <input type = "number" id = "upLeftMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "upLeftMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "upLeft">
            </div>
            <br>
            <div id = "upRight">
                <b class = "moveAmount">Up Right</b>
                <input type = "number" id = "upRightMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "upRightMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "upRight">
            </div>
            <br>
            <div id = "downLeft">
                <b class = "moveAmount">Down Left</b>
                <input type = "number" id = "downLeftMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "downLeftMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "downLeft">
            </div>
            <br>
            <div id = "downRight">
                <b class = "moveAmount">Down Right</b>
                <input type = "number" id = "downRightMoveAmount" class = "moveAmount" min = "1" max = "7" value = "7" size = "2">
                <input type = "submit" id = "downRightMoveSubmit" class = "submitAmount" value = "Add Movement" data-direction = "downRight">
            </div>
            <br>
            <div id = "lethalMovePath">
                <input type = "checkbox" id = "lethalMovePathSelect" checked>Lethal Move Path
            </div>
             
            <div id = "nonLethalMovePath">
                <input type = "checkbox" id = "nonLethalMovePathSelect" checked>Non-Lethal Move Path
            </div>
            <br>
            <div id = "mirrorPath">
                <input type = "checkbox" id = "mirrorPathSelect" checked>Mirror Path
            </div>
            <br>
            <button id = "submitEraseUnsubmittedPath">Erase Unsubmitted Path</button>
            <button id = "submitPath">Add Path To Selected Piece</button>
            </div>
        </div>
        <div id = "boardMeta">
            <h3>Name</h3>
            <input type = "text" name = "Name" id = "nameTextBox"/>
            <h3>FEN</h3>
            <input type = "text" name = "FEN" id = "FENTextBox"/>
            <button id = "FENSubmit">Submit New FEN</button>
            <h3>Description</h3>
            <input type = "text" name = "Description" id = "descriptionTextBox"/>
            <%- include('partials/GameCreatorSelectOne', {id: "winConditions", p: "Win Condition", listName: winConditionNames, listDescription: winConditionDescriptions}) %>
            <br>
            <br>
            <div id = "gameSubmitFailText"></div>
            <input type = "submit" id = "gameSubmit" value = "Submit Game"/>
        </div>
        <script src = "../javascripts/jquery.min.js"></script>
        <script src = "../javascripts/chessboard-1.0.0.min.js"></script>
        <script src = "../javascripts/GameCreatorBundle.js"></script>
    </body>
</html>
